# dependencies
/node_modules/

# next.js
/.next/

# vscode
/.vscode/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env

# typescript
next-env.d.ts
tsconfig.tsbuildinfo

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
