* {
	box-sizing: border-box;
}

body {
	max-width: 64em;
	margin: 0 auto;
	color: rgb(242, 242, 242);
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	background-image: url(../img/bg.gif);
}

a {
	text-decoration: none;
	color: rgb(242, 242, 242);
}

span { font-size: 1rem; }

.identidad {
	background-image: url('../img/bg-identidad-nerd.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	width: 100%;
	text-align: center;
	padding-top: 2rem;
}

.header-title {
	margin: 0px;
	padding-top: 1rem;
	text-transform: uppercase;
}

.navigation { margin-top: 2rem; }

.navigation ul {
	width: 100%;
	padding-left: 0;
	margin: 0;
	text-align: center;
	list-style-type: none;
}

.navigation ul li {
	display: block;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
}

.navigation ul li a:hover {
	-webkit-transition: color 1.5s ease;
	transition: color 1.5s ease;
	color: #00a9d4;
}

.navigation ul li.item-blog { margin-right: 0; }

.footer .copyright {
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 3rem;
	font-size: 0.8rem;
}

.footer .love {
	padding: 0;
	text-align: center;
	margin-bottom: 2rem;
	font-size: 0.8rem;
}

@media screen and (min-width: 25em) {
	.navigation ul li {
			margin-right: 1.3rem;
			display: inline-block;
		}
}

@media screen and (min-width: 64em) {
	.header-title {
		font-size: 2rem;
	}
}
