.about {
  width: 90%;
  margin: 0 auto 2rem;
  text-align: center;
}

.about__info {
  margin: 4rem 0;
  text-align: center;

  @media (min-width: $sm-device) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $xl-device) {
    margin: 6rem 0;
  }
}

.about__avatar {
  margin: 0;

  @media (min-width: $sm-device) {
    width: 40%;
  }

  @media (min-width: $md-device) {
    width: 45%;
    text-align: center;
  }
}

.about__description {
  font-size: 1.2rem;
  text-align: justify;

  @media (min-width: $sm-device) {
    width: 60%;
    margin-left: 2rem;
  }

  @media (min-width: $md-device) {
    width: 50%;
    margin: 0;
  }
}

.services__container {
  margin-top: 4rem;

  @media (min-width: $sm-device) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  @media (min-width: $lg-device) {
    flex-wrap: nowrap;
  }
}

.landscape {
  @media (max-width: $sm-device) {
    .about-avatar {
      width: 40%;
    }
  }
}
