.about {
  width: 90%;
  margin: 0 auto 2rem;
  text-align: center;
}

.about-info {
  text-align: center;

  @media (min-width: $sm-device) {
    display: flex;
    align-items: center;
    margin: 4rem 0;
  }

  @media (min-width: $xl-device) {
    margin: 6rem 0;
  }
}

.about-avatar {
  @media (min-width: $sm-device) {
    width: 40%;
  }

  @media (min-width: $md-device) {
    width: 45%;
    text-align: center;
  }

  img {
    max-width: 100%;
  }
}

.about-description {
  font-size: 1.2rem;
  text-align: justify;

  @media (min-width: $sm-device) {
    width: 60%;
    margin-left: 2rem;
  }

  @media (min-width: $md-device) {
    width: 50%;
    margin: 0;
  }
}

.about-process__title {
  margin: 2rem 0 0.6rem;
  color: $blue;
  font-size: 1.8rem;

  @media (min-width: $sm-device) {
    margin: 0 0 0.3rem;
    font-size: 2.5rem;
  }
}

.about-process__subtitle {
  margin: 0 0 4rem;
  font-size: 1.2rem;
}

.about-process__card-container {

  @media (min-width: $sm-device) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  @media (min-width: $lg-device) {
    flex-wrap: nowrap;
  }
}

.landscape {
  @media (max-width: $sm-device) {
    .about-avatar {
      width: 40%;
    }
  }
}
