.contact {
  width: 90%;
  margin: 3rem auto;
  text-align: center;

  @media (min-width: $sm-device) {
    width: 70%;
    height: 63vh;
    margin-bottom: 2rem;
    padding-top: 2vh;
  }

  @media (min-width: $md-device) {
    width: 80%;
    height: 65vh;
    margin-top: 0;
    padding-top: 5vh;
  }

  @media (min-width: $lg-device) {
    height: auto;
  }

  @media (min-width: $xl-device) {
    height: 55vh;
    padding-top: 15vh;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1.5rem;

  @media (min-width: $md-device) {
    width: 60%;
    margin: 0 auto;
  }

  @media (min-width: $lg-device) {
    width: 50%;
  }
}

.social__icon {
  display: inline-block;
  transform: scale(1);
  transition: transform 0.35s $cubic-bezier;
  color: $black;
  text-decoration: none;

  &:hover {
    transform: scale(1.2);
  }

  strong {
    display: block;

    @media (min-width: $sm-device) {
      font-size: 1.2rem;
    }
  }

  svg {
    @media (min-width: $sm-device) {
      width: 3rem;
      height: 3rem;
    }
  }

  &--twitter {
    color: $blue;
  }

  &--linkedin {
    color: $dark-blue;
  }
}

.email {
  color: $blue;
  font-size: 1.4rem;
  text-decoration: none;

  @media (min-width: $sm-device) {
    font-size: 1.6rem;
  }

  &:hover {
    color: $orange;
  }
}
