.page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.page404__title {
  margin: 0;
  background: linear-gradient(to right, var(--blue), var(--blue-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--blue);
  font-size: 8rem;
}

.page404__subtitle {
  margin-bottom: 0;
}

.page404__description {
  width: 90%;
  margin: 1.5rem auto;
  font-weight: normal;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-bottom: 2.5rem;
  color: var(--blue);
  padding: 1rem 2.5rem;
  border: 2px solid var(--blue);
  transition: color 0.37s ease-in, background-color 0.37s ease-in;
  font-size: 1.2rem;
}

.btn:hover {
  color: var(--white);
  background-color: var(--blue);
}

@media (min-width: 768px) {
  .page404__title {
    font-size: 12rem;
  }
}
