.about {
  max-width: 740px;
  height: 100vh;
  margin: 0 auto;
  padding: 18vh 0 0;
  text-align: center;
}

.about__paragraph,
.about__skills {
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: justify;
}

.about__skillsTitle {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  text-align: left;
}

.about__skills {
  padding-left: 20px;
  list-style-type: disc;
}

.about__skills li {
  line-height: 1.4;
}

@media (min-width: 1600px) {
  .about {
    padding: 20vh 0;
  }

  .about__paragraph,
  .about__skills {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 18vh 5rem;
  }
}

@media (max-width: 736px) {
  .about {
    height: auto;
    padding: 18vh 1.5rem 5rem;
  }
}

@media (max-width: 568px) {
  .about__title {
    font-size: 2.5rem;
  }

  .about__paragraph,
  .about__skills {
    font-size: 0.9rem;
  }
}
