.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  margin: 0;
  font-size: 4rem;
}

.subtitle {
  color: #2196f3;
  font-weight: normal;
}

.social-icons a {
  display: inline-block;
  margin: 0 1.5rem;
}

.social-icons img {
  width: 3rem;
  height: 3rem;
  transition: transform 0.37s ease-in;
}

.social-icons img:hover {
  width: 3rem;
  height: 3rem;
  transform: scale(1.2);
}

@media (max-width: 568px) {
  .title {
    font-size: 2.8rem;
  }

  .social-icons a {
    margin: 0 1rem;
  }

  .social-icons img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
