.mainNav {
  position: absolute;
  left: 50%;
  top: 92vh;
  width: 60%;
  transform: translateX(-50%);
  z-index: 2;
}

.mainNav--fixed {
  position: fixed;
  top: 0;
  padding: 2rem 0 0;
}

.mainNav__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.mainNav__listItemLink {
  position: relative;
  display: inline-block;
  transition: color 0.37s ease-in;
  color: var(--white);
}

.mainNav__listItemLink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: 5px auto;
  background-color: var(--white);
  transition: width 0.37s ease-in, background-color 0.37s ease-in;
}

.mainNav__listItemLink:hover::after,
.mainNav__listItemLink.active::after {
  width: 100%;
  background-color: var(--blue-light);
}

.mainNav__listItemLink:hover,
.mainNav__listItemLink.active {
  color: var(--blue-light);
}

.mainNav__listItem--blog a {
  color: var(--blue-light);
  padding: 0.6rem 2rem;
  border: 2px solid var(--blue-light);
  transition: color 0.37s ease-in, background-color 0.37s ease-in;
}

.mainNav__listItem--blog a:hover {
  color: var(--black);
  padding: 0.6rem 2rem;
  background-color: var(--blue-light);
}

@media (max-width: 768px) {
  .mainNav {
    position: fixed;
    top: unset;
    bottom: 0;
    width: 100%;
  }

  .mainNav__list {
    background-color: var(--blue);
  }

  .mainNav__listItem,
  .mainNav__listItem--blog {
    width: calc(100% / 4);
    padding: 0.8rem 0;
    border-right: 1px solid var(--black);
    text-align: center;
  }

  .mainNav__listItem--blog {
    border: 0;
    background-color: var(--blue-light);
  }

  .mainNav__listItem--blog a {
    border: 0;
    color: var(--white);
  }

  .mainNav__listItemLink:hover {
    color: var(--white);
  }

  .mainNav__listItemLink.active {
    color: var(--black);
  }

  .mainNav__listItemLink::after {
    content: "";
    height: 0;
    margin: 0;
  }
}
