.work {
  max-width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding: 18vh 0 0;
  text-align: center;
}

.work__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work__itemWork {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 3rem 5rem;
  transition: transform 0.37s ease-in;
  background-color: var(--white);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.work__itemWork:hover {
  transform: scale(1.05);
}

.work__title {
  position: absolute;
  top: -1.5rem;
  right: -3rem;
  margin: 0;
  color: var(--black);
  font-size: 3rem;
  text-shadow: 1px 2px 11px rgba(0, 0, 0, 0.3);
}

.work__image {
  display: block;
  position: absolute;
  top: 20%;
  left: -8rem;
  width: 18rem;
  height: 18rem;
  background-position: center center;
  background-size: cover;
}

.work__image::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.work__link {
  display: block;
  position: absolute;
  right: -1px;
  bottom: -1px;
  padding: 1rem 1.2rem;
  background-color: var(--blue-light);
  transition: background-color 0.37s ease-in;
  color: var(--white);
}

.work__link:hover {
  background-color: var(--blue);
}

.workEcoctua {
  background-image: url("../images/img_work/ecoactua.jpg");
}

.workExpensify {
  background-image: url("../images/img_work/expensify.jpg");
}

@media (min-width: 1600px) {
  .work {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .work__container {
    margin-bottom: 5rem;
  }

  .work__itemWork {
    width: 18rem;
    height: 18rem;
  }

  .work__title {
    top: -0.5rem;
    font-size: 2.5rem;
  }

  .work__image {
    top: 25%;
    left: -5rem;
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 568px) {
  .work__itemWork {
    margin: 2rem 0 3rem;
  }
  .work__title {
    top: -1rem;
    right: unset;
    width: 100%;
    font-size: 2rem;
  }

  .work__image {
    top: 17%;
    left: 0;
    width: 18rem;
  }

  .work__link {
    right: 0;
    width: 100%;
    padding: 0.8rem 1.2rem;
  }
}
