.wrapper {
  background-color: var(--primary-bg-color);
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.title {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
  word-spacing: -0.5px;
  text-align: center;

  strong {
    display: block;
    font-size: 2.2rem;
    font-weight: 800;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 120px);
}

.heading {
  margin-bottom: 1rem;
  padding: 0 1rem;
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3;
  text-align: center;

  @media (width >= 768px) {
    font-size: 4rem;
  }
}

.contactTitle {
  margin-bottom: 0.8rem;
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;

  @media (width >= 768px) {
    font-size: 1.5rem;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  padding-left: 0;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  color: var(--secondary-color);
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }

  &:focus {
    outline: 2px solid var(--accent-color);
    border-radius: 6px;
  }

  svg {
    width: 3rem;
    height: 3rem;
  }
}
