.overlay {
  background-color: #000000b3;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.container {
  background-color: var(--primary-bg-color);
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }
}

.title {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}

.description {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.btnTrigger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  color: var(--secondary-color);
  border: 0;
  background: none;
  cursor: pointer;

  &:hover {
    color: var(--accent-color);
  }

  &:focus {
    outline: 2px solid var(--accent-color);
    border-radius: 6px;
  }

  svg {
    width: 3rem;
    height: 3rem;
  }
}

.btnClose {
  all: unset;
  font-family: inherit;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--title-color);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  svg {
    height: 30px;
    width: 30px;
  }

  &:hover {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--accent-color);
  }
}
