.footer {
  margin-bottom: 80px;
  text-align: center;

  @media (min-width: $sm-device) {
    margin-bottom: 100px;
  }

  @media (min-width: $md-device) {
    margin: 0;
  }

  &--home {
    @media (min-width: $md-device) {
      // scss-lint:disable ImportantRule
      position: absolute !important;
      // scss-lint:enable ImportantRule
      bottom: 1rem;
      width: 100%;
    }
  }
}

.footer__text {
  display: block;
  margin: 0 0 0.6rem;
  font-size: 1rem;

  @media (min-width: $sm-device) {
    font-size: 1.3rem;
  }

  &--home {
    @media (min-width: $md-device) {
      text-shadow: 2px 3px 5px rgba($black, 0.7);
    }
  }
}

.footer__heart {
  color: $orange;
}
