.main-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;

  @media (min-width: $md-device) {
    position: static;
    width: 60%;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    width: 20%;
    list-style: none;
  }
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: $blue;
  color: $white;
  font-family: $titles;
  font-size: 0.7rem;
  text-decoration: none;

  @media (min-width: $sm-device) {
    height: 80px;
    font-size: 1rem;
  }

  @media (min-width: $md-device) {
    height: auto;
    background: transparent;
  }

  &:active,
  &:focus,
  &:hover {
    outline: none;
    color: $black;

    @media (min-width: $md-device) {
      color: $gold;
    }
  }

  &.active {
    outline: none;
    color: $black;

    @media (min-width: $md-device) {
      color: $gold;
    }
  }

  svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-bottom: 5px;
  }
}

.main-nav-alt {
  .main-nav__item {
    @media (min-width: $md-device) {
      color: $black;
    }

    &:active,
    &:focus,
    &:hover {
      @media (min-width: $md-device) {
        color: $orange;
      }
    }

    &.active {
      @media (min-width: $md-device) {
        color: $orange;
      }
    }
  }
}

.landscape {
  @media (max-width: $sm-device) {
    .main-nav__item {
      height: 50px;
      font-size: 0.6rem;

      svg {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}
